#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------
APP_NAME          = 'Octopy Framework'
APP_KEY           =
APP_ENV           = local
APP_DEBUG         = true
APP_URL           = http://localhost/

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------
DB_CONNECTION     = mysql
DB_HOST           = 127.0.0.1
DB_PORT           = 3306
DB_DATABASE       = secret
DB_USERNAME       = secret
DB_PASSWORD       = secret

#--------------------------------------------------------------------
# SESSION & COOKIE
#--------------------------------------------------------------------
SESSION_DRIVER    = file
SESSION_LIFETIME  = 120

#--------------------------------------------------------------------
# MAIL
#--------------------------------------------------------------------
MAIL_HOST         = ssl://smtp.gmail.com
MAIL_PORT         = 465
MAIL_USERNAME     = null
MAIL_PASSWORD     = null
