.debugbar {
    background-color: #FFF;
    bottom: 0;
    font-family: 'Nunito Sans', sans-serif;
    left: 0;
    position: fixed;
    width: 100%;
    border: 1px solid #CCC;
}

.debugbar_hide {
    max-width: 26px;
    max-height: 26px;
    bottom: 0;
}

.debugbar_logo {
    cursor: pointer;
    float: left;
    font-size: 70%;
    padding: 5px;
    transition: 0.3s;
}

.debugbar_tab {
    overflow: hidden;
    /*border-bottom: 1px solid #ccc;*/
}

/* Style the buttons inside the tab */
.debugbar_tab button {
    background-color: #FFF;
    border: none;
    cursor: pointer;
    float: left;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    outline: none;
    padding: 5px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.debugbar_tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.debugbar_tab button.debugbar_active {
    background-color: #ccc;
}

button::-moz-focus-inner {
    border: 0;
}

/* Style the tab content */
.debugbar_tabcontent {
    border-top: 1px solid #ccc;
    display: none;
    padding: 6px 14px;
}

.debugbar_scroll {
    overflow-x: hidden;
    overflow-y: visible;
    max-height: 100px;
    margin-left: 3px;
}

.debugbar_info {
    font-size: 14px;
    padding: 10px 5px 0px 5px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.debugbar_info p {
    margin-left: 20px;
    margin-top: 3px;
    margin-bottom: 1px;
}

.debugbar_table {
    font-size: 80%;
    border-collapse: collapse;
    width: 100%;
}

.debugbar_table td {
    padding:5px;
}

.debubar_table tr {
    background-color: #FFF;
}

.debugbar_table tr:hover {
    background-color: #ddd;
}

.debugbar_strong {
    font-weight: bold;  
}

.debugbar_hr {
}